body{
   font-family: Aral-sans-seril;
   background-color: darkblue;
   display: flex;
   justify-content: center;
   align-Items: center;
   height: 100%
   margin: 0;
}
login-content{
   background color: #fff;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba [0,0,0,0.1]
   width: 300px;
}
h2{
  text-align: center;
  margin-bottom: 20px;
}
label{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
input{
  width: 100%;
  padding: 8px;

